@{
    ViewData["Title"] = "Criar Processo";
}


<div class="container container-filters p-5">
    <div class="column" style="display:flex;flex-direction:column;gap:22px">
        <div class="col">
            <div class="col input-group">
                <input id="search-input-cadastro" type="text" placeholder="Buscar pelo Id ou descricao..." class="form-control" aria-label="Text input with segmented dropdown button">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-search"></i> Buscar</button>
                </div>
            </div>
        </div>

        <div class="col" style="display:flex;justify-content:flex-end">
            <button id="create-vistoria-btn" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
                + Criar vistoria
            </button>
        </div>
    </div>
</div>


<div class="border-radius">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col w-25">ACOES</th>
                <th scope="col">ID</th>
                <th scope="col">DESCRICAO</th>
            </tr>
        </thead>
        <tbody id="register-list"></tbody>
        <thead>
            <tr>
                <th scope="col w-25">ACOES</th>
                <th scope="col">ID</th>
                <th scope="col">DESCRICAO</th>
            </tr>
        </thead>
    </table>
</div>


<!-- Modal -->
<div class="bs-example">
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar descrição</h5>
                    <button type="button" class="close close-btn" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="col input-group">
                        <input id="input-cadastro-description" type="text" placeholder="Insira uma descrição" class="form-control w-100" aria-label="Text input with segmented dropdown button">
                    </div>

                </div>
                <div class="modal-footer">
                    <button onClick="insertCadastroDescription()" id="add-cadastro-description" type="button" class="btn btn-primary close-btn" data-dismiss="modal">Salvar</button>
                    <button type="button" class="btn btn-danger close-btn" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const element = document.getElementById('#myModal'); // Replace 'elementId' with the actual ID of the element you want to modify

    document.getElementById("#create-vistoria-btn").addEventListener("click", element.classList.add('show'))


    document.getElementsByClassName(".close-btn").addEventListener("click", element.classList.add('hide'))

</script>


<script>


    function handleEdit(itemId) {
        // Handle the button click and the passed ID
        console.log("Button clicked for item with ID: " + itemId);

        // Call another function or perform any desired action with the ID
        // ...
    }

    function handleRemove(itemId) {
        // Handle the button click and the passed ID
        console.log("Button clicked for item with ID: " + itemId);

        // Call another function or perform any desired action with the ID
        // ...
    }

</script>

<script src="~/js/cadastro-integration.js" asp-append-version="true"></script>


