@{
    ViewData["Title"] = "Processos";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1>@ViewBag.Message</h1>

<div style="width:60%">
    <div style="width: 100%;">
        <div style="display: flex; flex-direction: column; gap: 22px;">
            <div style="margin: 0;">
                <div class="input-group" style="margin: 0;">
                    <input id="search-input-modelos" type="text" placeholder="Buscar pelo Id ou descricao..." class="form-control" aria-label="Text input with segmented dropdown button">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary"><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>

            <div style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
                <button id="create-vistoria-btn" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal" style="margin: 0;">
                    + Criar Processo
                </button>
            </div>

        </div>
    </div>


    <div class="border-radius" style="display:flex;flex-direction:column;width:100%">
        <table class="table table-bordered table-striped table-auto-width">
            <thead>
                <tr>
                    <th scope="col" style="width:10%">AÇÕES</th>
                    <th scope="col">CODPROCESSO</th>
                    <th scope="col">DESCRIÇÃO</th>
                    <th scope="col">DATA DE CADASTRO</th>
                </tr>
            </thead>
            <tbody id="modelos-list" style="width:100%">
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="bs-example">
        <div id="myModal" class="modal fade" tabindex="-1">
            <form id="processo-form">
                <div class="w-100 modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">Inserir Processo</h5>
                            <button type="button" class="close close-btn" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <input id="descricao" type="text" class="form-control" placeholder="Inserir Descrição" aria-label="Descricao" aria-describedby="basic-addon1">
                        </div>
                        <div class="modal-body">
                            <input id="codigo" type="text" class="form-control" placeholder="Inserir Código" aria-label="Codigo" aria-describedby="basic-addon1">
                        </div>
                        <div class="modal-footer">
                            <button id="buttonCreateTeste" type="submit" class="btn btn-primary" data-processo-id="">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#processo-form").submit(function () {
            event.preventDefault();
            let url = 'https://localhost:44350/api/processos';
            const descricao = $('#descricao').val();
            const codProcesso = $('#codigo').val();
            const data = {
                descricao: descricao,
                codProcesso: codProcesso
            };

            const processoId = $('#buttonCreateTeste').data('processo-id');
            if (processoId) {
                url += '/' + processoId;
                $.ajax({
                    url: url,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        console.log(result);
                        location.reload();
                    },
                    error: function (error) {
                        console.error('Erro:', error);
                    }
                });
            } else {
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        console.log(result);
                        location.reload();
                    },
                    error: function (error) {
                        console.error('Erro:', error);
                    }
                });
            }
        })

        $.ajax({
            url: 'https://localhost:44350/api/processos',
            type: 'GET',
            success: function (result) {
                console.log(result);
                const tbody = $('#modelos-list');
                tbody.empty();
                result.forEach(function (processo) {
                    const row = $('<tr /*style="display:flex;justify-content:space-between"*/>');

                    const acoesCell = $('<td style="display:flex;flex-direction:row">');
                    const editarBtn = $('<button>').addClass('btn btn-primary btn-editar btn-margin').css({ "margin-right": "10px" }).text('Editar');
                    editarBtn.data('processo-id', processo.idProcesso.toString());
                    editarBtn.appendTo(acoesCell);

                    const excluirBtn = $('<button>').addClass('btn btn-danger btn-excluir btn-margin').css({ "margin-right": "10px" }).text('Excluir');
                    excluirBtn.data('processo-id', processo.idProcesso.toString());
                    excluirBtn.appendTo(acoesCell);

                    row.append(acoesCell);
                    row.append($('<td /*style="width:100%"*/>').text(processo.codProcesso));
                    row.append($('<td /*style="width:100%"*/>').text(processo.descricao));
                    row.append($('<td /*style="width:100%"*/>').text(processo.dataDeCadastro));

                    tbody.append(row);
                });
            },
            error: function (error) {
                console.error('Erro:', error);
            }
        });
    })

    $(document).on('click', '.btn-editar', function () {
        const processoId = $(this).data('processo-id');
        console.log('Editar processo ID:', processoId);

        const codProcesso = $(this).closest('tr').find('td:nth-child(2)').text();
        const descricao = $(this).closest('tr').find('td:nth-child(3)').text();

        $('#descricao').val(descricao);
        $('#codigo').val(codProcesso);

        $('#buttonCreateTeste').attr('data-processo-id', processoId);

        $('#myModal').modal('show');
    });



    $(document).on('click', '.btn-excluir', function () {
        const processoId = $(this).data('processo-id');
        $.ajax({
            url: `https://localhost:44350/api/processos/${processoId}`,
            type: 'DELETE',
            contentType: 'application/json',
            success: function (result) {
                console.log(result);
                location.reload();
            },
            error: function (error) {
                console.error('Erro:', error);
            }
        });
    });

    const element = document.getElementById('myModal');

    $('#create-vistoria-btn').on('click', function () {
        $('#descricao').val('');
        $('#codigo').val('');

        $('#buttonCreateTeste').removeData('processo-id');

        $('#myModal').modal('show');
    });

    $('.close-btn').click(function () {
        element.classList.remove('show');
    });
</script>
