﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TreinamentoFront</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ModelosVistoria.css" asp-append-version="true" />
</head>
<body>
    <div class="">

            <!-- Left Menu -->
            <div id="mySidenav" class="sidenav">
                <img alt="Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpSpedRxeJkNptg59vTIFcr2ChXdLOsi0r1Wpx2CZuGjfhA1W5qC1azXQXWezRCl7ShCs" class="logo" />
                
                <div class="sidenav-item">
                    <a href="#">Cadastros</a>
                </div>
                <div class="sidenav-item">
                    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">operacional</a>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            1. Item
                        </div>
                    </div>
                </div>


                <div class="sidenav-item">
                    <a href="#">operacional</a>
                </div>
              
            </div>

            <div id="main">
                <!-- Use any element to open the sidenav -->
                <div id="menu-icon" onclick="openNav()">&#9776;</div>
                <!-- Content -->
            <div class="w-100" style="display:flex;flex-direction:column;justify-content:center;align-items:center">
                    @RenderBody()
                </div>
            </div>

  
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TreinamentoFront - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>