.modal-content {
    width: 100px;
    background: red;
}


.custom-dropdown {
    background-color: transparent;
    padding: 10px;
    font-size: 12px;
    border-radius: 6px;
    color: white;
    outline: none;
    > option

{
    color: black;
}

}

#itemList, #invalidList {
    > div

{
    color: white;
}

}

.deleteBtn, .deleteBtnInvalidReponses {
    border: none;
    height: fit-content;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    background-color: transparent;
}

.item {
    width: 100%;
}

.item-container {
    width: 100%;
    display: flex;
    gap: 12px;
    border: 1px solid white;
    padding: 6px 24px;
    align-items: center;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
    &:hover

{
    opacity: 0.5;
}

}

.image-input {
    display: flex;
    align-items: center;
    gap: 12px;
}

.document-name {
    width: 100%;
    text-align: right;
    color: white;
    font-size: 12px;
}

.table-container {
    overflow-x: auto;
}

#itemList, #itemListInvalidResponses {
    gap: 12px;
}

.image-upload {
    width: 100%;
    transition: 0.3s;
    display: flex;
}

    .image-upload input[type="file"] {
        display: none;
    }

    .image-upload label {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #ebebeb;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

        .image-upload label:hover {
            background-color: #ccc;
        }

        .image-upload label i {
            margin-right: 5px;
        }


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #383838 #ffffff;
}

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 2px;
        height: 5px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        height: 2px;
        background-color: #b0b0b0;
        border-radius: 10px;
        border: 0px solid #ffffff;
    }

.itens-container {
    color: white;
    width: 25%;
    > td

{
    white-space: nowrap;
}
}


.hide, .hide-2, .hide-3 {
    display: none;
}